# project
private/application/config/development/database.php
private/application/config/testing/database.php
private/application/config/production/database.php
public/.htaccess
public/files/*
public/files/cache/*
!public/files/cache/index.html
node_modules

# ide
.settings
.idea
.project

# os
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# elastic beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
