# project files
private/application/config/development/database.php
private/application/config/testing/database.php
private/application/config/production/database.php
private/application/language
private/system/core/*
!private/system/core/CodeIgniter.php
private/system/database
private/system/fonts
private/system/helpers
private/system/language
private/system/libraries
public/.htaccess
public/files/*
public/files/cache/*
!public/files/cache/index.html

# eclipse files
.project

# os files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
