
<p><a href="/main" class="cinder" data-id="1">Main</a> | <a href="/search" class="cinder" data-id="2">Search</a> | <a href="/dragdrop" class="cinder" data-id="3">Drag/drop</a> | <a href="/plugin" class="cinder" data-id="4">jQuery Plugin</a> | <a href="/login" class="cinder" data-id="5">Login</a> | <a href="/anyinvalidpath" class="cinder" data-id="6">404</a></p>

<p>{{=it.body}}</p>

<div data-action="/dragdrop/upload" class="purpose-dragdrop">
	<div class="purpose-message">Drag &amp; drop</div>
	<div class="purpose-progress">Uploading...</div>
	<div class="purpose-dragover">Release file</div>
</div>
