files:
  /etc/php.d/99-cinder.ini:
    mode: '000644'
    owner: root
    group: root
    content: |
      upload_max_filesize = 10M
      post_max_size = 10M

commands:
  01_set_timezone:
    command: ln -f -s /usr/share/zoneinfo/America/Halifax /etc/localtime
  02_remove_pgsql:
    command: 'sudo yum remove -y php56-pgsql'
  03_remove_backups:
    cwd: /etc/php.d
    command: 'sudo rm -f *.ini.bak'
