
<div id="cinderMigrationsArea" class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">{title}</h1>

		<ul class="toolbar">
			<li><span>{timestamp}</span></li>
		</ul>
	</div>

	<div class="panel-body">
		<div class="purpose-flashdata">
			{?invalid_id}
				<div class="alert alert-danger" role="alert">You are running an unknown version for this branch. Migrations have been blocked to prevent erroneous database changes.<br/><br/>Switch back to the last branch you ran migrations from and select the base branch.</div>
			{/invalid_id}
		</div>

		{@eq key=environment value="development"}
			{#migrations}

			{/migrations}
		{/eq}
	</div>
</div>
