SetEnv CI_ENV "development"

# prevent app from being loaded in an iframe

Header always append X-Frame-Options SAMEORIGIN

# set long expire headers
# <IfModule mod_expires.c>
# ExpiresActive On
# ExpiresByType text/css "access 1 month”
# ExpiresByType application/javascript "access plus 1 month"
# </IfModule>

# rewrite rules

RewriteEngine On
RewriteBase /

# asset caching

RewriteRule ^files/cache/([0-9]+)/(.*)$ /files/cache/$2 [L]

# codeigniter

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
