<!DOCTYPE html>
<html lang="en">
<head>
	<title><?=$system[ 'json' ][ 'title' ]?></title>
	<meta charset="utf-8" />

<?php
$path = $this->config->item( 'cache_web_path' );

foreach ( $system[ 'css' ] as $style ) {
	?><link href="<?=base_url( $path . $style )?>" type="text/css" rel="stylesheet" media="screen" /><?php
}
?>

</head>
<body>

<div id="cinderBodyArea"></div>

<script type="text/javascript" src="files/cache/system/js/require.min.js"></script>
<script type="text/javascript">

/**
 * config
 */

require.config({
	baseUrl: 'files/cache',
	map: {
		'*': {
			'css': 'system/js/css.min'
		}
	},
	paths: {
		jquery: 'jquery.min'
	},
	urlArgs: Date.now( )
});

/**
 * boot
 */

require( [ "<?=$system[ 'module' ]?>" ], function( aModule ) {
	'use strict';

	var module = new aModule( ).bindPendingData( <?=$pending?> );
});

</script>

</body>
</html>
