<!DOCTYPE html>
<html lang="en">
<head>
	<title><?=$system[ 'json' ][ 'title' ]?></title>
	<meta charset="utf-8" />

<?php
foreach ( $system[ 'css' ] as $style ) {
	?><link href="<?=$system[ 'json' ][ 'cache_path' ] . $style?>" type="text/css" rel="stylesheet" media="screen" /><?php
}

foreach ( $pending[ 'css' ] as $style ) {
	?><link href="<?=$system[ 'json' ][ 'cache_path' ] . $style?>" type="text/css" rel="stylesheet" media="screen" /><?php
}
?>

</head>
<body>

<div id="cinderBodyArea"></div>

<script type="text/javascript" src="files/cache/system/js/require.min.js"></script>
<script type="text/javascript">

/**
 * config
 */

require.config({
	baseUrl: '<?=rtrim( $system[ 'json' ][ 'cache_path' ], '/' )?>',
	map: {
		'*': {
			'css': 'system/js/css.min'
		}
	},
	paths: {
		jquery: 'jquery.min'
	},
	urlArgs: Date.now( )
});

/**
 * boot
 */

require( [ 'system/js/app' ], function( aApp ) {
	'use strict';

	var app = new aApp( );

	app.loadModule( <?=json_encode( $system[ 'options' ] )?>, <?=json_encode( $pending )?> );
});

</script>

</body>
</html>
