<!DOCTYPE html>
<html lang="en">
<head>
	<title><?=$system[ 'data' ][ 'title' ]?></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php
	if ( $system[ 'data' ][ 'favicon' ] !== false ) {
		?><link href="<?=base_url( 'files/cache/' . $system[ 'data' ][ 'favicon' ] )?>" type="image/x-icon" rel="icon" /><?php
	}

	foreach ( $system[ 'data' ][ 'view' ][ 'css' ] as $style ) {
		?><link href="<?=base_url( 'files/cache/' . $system[ 'data' ][ 'view' ][ 'data' ][ 'version' ] . $style )?>" type="text/css" rel="stylesheet" media="screen" /><?php
	}
	?>
</head>
<body>

<div class="purpose-message"></div>
<div id="<?=str_replace( '#', '', $system[ 'data' ][ 'view' ][ 'container' ] )?>"></div>

<script type="text/javascript" src="<?=base_url( 'files/cache/' . $system[ 'data' ][ 'view' ][ 'data' ][ 'version' ] . 'system/js/require.js.min.js' )?>"></script>
<script type="text/javascript">
<?=$system[ 'data' ][ 'view' ][ 'data' ][ 'config' ]?>
require( [ 'domready!', 'system/js/app' ], function( aDocument, aApp ) {
	'use strict';

	var app = new aApp( <?=json_encode( $system[ 'options' ] )?> );

	app.load( <?=json_encode( $module[ 'data' ] )?> );
});
</script>

</body>
</html>
