<!DOCTYPE html>
<html lang="en">
<head>
	<title><?=$system[ 'data' ][ 'title' ]?></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<?php
	foreach ( $system[ 'data' ][ 'view' ][ 'css' ] as $style ) {
		?><link href="<?=base_url( 'files/cache/' . $style )?>" type="text/css" rel="stylesheet" media="screen" /><?php
	}
	?>
</head>
<body>

<div id="cinderBodyArea"></div>

<script type="text/javascript" src="<?=base_url( 'files/cache/system/js/require.js.min.js' )?>"></script>
<script type="text/javascript" src="<?=base_url( 'files/cache/system/js/require.config.js' )?>"></script>
<script type="text/javascript">
require( [ 'domready!', 'system/js/app' ], function( aDocument, aApp ) {
	'use strict';

	var app = new aApp( <?=json_encode( $system[ 'options' ] )?> );

	app.load( <?=json_encode( $pending[ 'data' ] )?> );
});
</script>

</body>
</html>
