<!DOCTYPE html>
<html lang="en">
<head>
	<title><?=$system[ 'data' ][ 'title' ]?></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php
	if ( $system[ 'data' ][ 'favicon' ] !== false ) {
		?><link href="<?=base_url( 'files/cache/' . $system[ 'data' ][ 'favicon' ] )?>" type="image/x-icon" rel="icon" /><?php
	}

	foreach ( $system[ 'data' ][ 'view' ][ 'css' ] as $style ) {
		?><link href="<?=base_url( 'files/cache/' . $system[ 'data' ][ 'view' ][ 'data' ][ 'version' ] . $style )?>" type="text/css" rel="stylesheet" media="screen" /><?php
	}
	?>
</head>
<body>

<div id="cinderDocument">
	<div class="loading"></div>

	<div class="navbar navbar-fixed-top">
		<ul class="toolbar pull-right">
			<li><a href="<?=base_url( 'logout' )?>" class="cinder">Logout</a></li>
		</ul>
	</div>

	<div class="sidebar">
		<ul class="toolbar">
			<li><a href="<?=base_url( 'dashboard' )?>" class="cinder" data-id="1">Dashboard</a></li>
			<li><a href="<?=base_url( 'search' )?>" class="cinder" data-id="2">Search form</a></li>
			<li><a href="<?=base_url( 'dragdrop' )?>" class="cinder" data-id="3">Drag/drop class</a></li>
			<li><a href="<?=base_url( 'plugin' )?>" class="cinder" data-id="4">jQuery plugin</a></li>
			<li><a href="<?=base_url( 'migrations' )?>" class="cinder" data-id="5">Migrations</a></li>
			<li><a href="<?=base_url( 'debug' )?>" class="cinder" data-id="6">Debug</a></li>
		</ul>
	</div>

	<div class="container-fluid">
		<div class="content">
			<div id="cinderModule"></div>
		</div>
	</div>
</div>

<div id="cinderTemplates" class="hidden">
	<div class="overlay">
		<div class="background"></div>
		<span class="role-icon icon-loader"></span>
	</div>
</div>

<script type="text/javascript" src="<?=base_url( 'files/cache/' . $system[ 'data' ][ 'view' ][ 'data' ][ 'version' ] . 'system/js/require.js.min.js' )?>"></script>
<script type="text/javascript">
<?php
if ( count( $system[ 'data' ][ 'view' ][ 'fonts' ] ) > 0 ) {
	?>document.documentElement.className += ' wf-loading';<?php
}

echo( $system[ 'data' ][ 'view' ][ 'data' ][ 'config' ] );
?>
require( [ 'domready!', 'system/js/app' ], function( aDocument, aApp ) {
	'use strict';

	var app = new aApp( <?=json_encode( $system[ 'options' ] )?> );

	app.load( <?=json_encode( $module[ 'data' ] )?> );
});
</script>

</body>
</html>
