/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-arrow-off {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 6px;
  height: 8px;
}
.sprite-arrow-on {
  background-image: url(../img/sprite.png);
  background-position: -8px 0px;
  width: 6px;
  height: 8px;
}
