/* import reset */

@import url( 'reset.css' );

/* global styles */

input::-moz-focus-inner {
	border:0;
}

[contenteditable]:focus {
	outline:0 solid transparent;
}

.wf-loading {
	visibility:hidden;
}

.wf-active,
.wf-inactive {
	visibility:visible;
}

* + table,
* + p,
* + ul,
* + ol,
* + form,
* + div,
* + nav,
* + header,
* + footer,
* + aside {
	margin-top:1em;
}

* + section,
section + * {
	margin-top:2em;
}

header + * {
	margin-top:1em;
}

hgroup > * + * {
	margin-top:0.5em;
}

fieldset * + label {
	margin-top:1em;
}

h1 {
	font-weight:normal;
	font-size:128.57142857142857142857142857143%;
}

/* document styles */

body {
	font-family:'Open Sans', sans-serif;
	padding:1em;
}

/* global classes */

.purpose-dragdrop {
	border:2px dotted black;
	padding:1em;
}
	.purpose-dragdrop.drop {
		border:2px dotted red;
	}

	.purpose-dragdrop .purpose-message {
		margin:0;
	}
	.purpose-dragdrop .purpose-progress {
		display:none;
		margin:0;
	}
	.purpose-dragdrop .purpose-dragover {
		display:none;
		margin:0;
	}
