/* import rules */

@import url( 'bootstrap.min.css' );
@import url( 'bootstrap.theme.min.css' );
@import url( 'loading.css' );
@import url( 'sprite.css' );
@import url( 'svg.css' );

/* webfont classes */

.wf-loading {
	visibility:hidden;
}

.wf-active,
.wf-inactive {
	visibility:visible;
}

/* global styles */

.vertical-center {
	width:100%;
	height:100%;
	text-align:center;
}
	.vertical-center:before {
		content:' ';
		display:inline-block;
		vertical-align:middle;
		height:100%;
	}
	.vertical-center > :first-child {
		display:inline-block;
		vertical-align:middle;
		max-width:100%;
		text-align:left;
	}

.input-group + .input-group {
	margin-top:1em;
}

.checkbox:last-child {
	margin-bottom:0;
}

ul.toolbar {
	display:inline-block;
	list-style-type:none;
	margin:0;
	padding:0;
}
	ul.toolbar > li {
		display:inline-block;
	}

div.overlay {
	position:absolute;
	top:0; left:0;
	z-index:1000;
	width:100%;
	height:100%;
}
	div.overlay > div.background {
		width:100%;
		height:100%;
		background-color:#dadada;
		opacity:0.2;
	}

	div.overlay > span.role-icon {
		position:absolute;
		top:50%; left:50%;
		margin:-16px 0 0 -16px;
	}

span.icon-loader {
	display:inline-block;
	width:30px;
	height:30px;
	background:url(../img/loader.png) 0 0;
	animation:loader 1s steps(18) infinite;
}

@keyframes loader {
	from { background-position:0 0; }
	to { background-position:-540px 0; }
}

/* document style */

html {
	width:100%;
	height:100%;
}

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color:#454e59;
	background-color:#ebeef2;
	width:100%;
	height:100%;
}

h1 {
	font-family:'Italiana', serif;
	letter-spacing:2px;
}

#cinderDocument {
	display:none;
	width:100%;
	height:100%;
}
	#cinderDocument > div.navbar {
		margin:0;
		background-color:#5ccdde;
	}
		#cinderDocument > div.navbar > ul.toolbar {
			margin:12px 15px 0 0;
		}
			#cinderDocument > div.navbar > ul.toolbar > li > a {
				color:white;
			}

	#cinderDocument > div.sidebar {
		position:fixed;
		top:0; left:0;
		width:150px;
		height:100%;
		margin:0;
		padding:65px 15px 15px 15px;
		background-color:#454e59;
		box-sizing:border-box;
	}
		#cinderDocument > div.sidebar > ul.toolbar > li {
			display:block;
		}
			#cinderDocument > div.sidebar > ul.toolbar > li > a {
				color:#8daebf;
			}
			#cinderDocument > div.sidebar > ul.toolbar > li.selected > a {
				color:white;
			}

	#cinderDocument > div.container-fluid {
		position:relative;
		height:100%;
		margin:0 0 0 150px;
		padding-top:65px;
	}
		#cinderDocument > div.container-fluid > div.content {
			height:100%;
		}

#cinderModule {
	width:100%;
	height:100%;
	margin:0;
}

/* hide nav */

#cinderDocument.hide-nav > div.navbar {
	display:none;
}

#cinderDocument.hide-nav > div.sidebar {
	display:none;
}

#cinderDocument.hide-nav > div.container-fluid {
	margin:0;
	padding:0;
}
