/* import rules */

@import url( 'bootstrap.min.css' );
@import url( 'bootstrap.theme.min.css' );
@import url( 'sprite.css' );

/* webfont classes */

.wf-loading {
	visibility:hidden;
}

.wf-active,
.wf-inactive {
	visibility:visible;
}

/* global styles */

* + table,
* + p,
* + ul,
* + ol,
* + form,
* + div,
* + nav,
* + header,
* + footer,
* + aside {
	margin-top:1em;
}

* + section,
section + * {
	margin-top:2em;
}

header + * {
	margin-top:1em;
}

hgroup > * + * {
	margin-top:0.5em;
}

fieldset * + label {
	margin-top:1em;
}

.purpose-hidden {
	display:none;
}

ul.toolbar {
	list-style-type:none;
	padding:0;
}
	ul.toolbar > li {
		display:inline-block;
	}

/* document style */

html {
	width:100%;
	height:100%;
}

body {
	font:17px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color:#33333d;
	background-color:#f2f4f8;
	width:100%;
	height:100%;
}

h1 {
	font-family:'Italiana', serif;
}

#cinderDocument {
	display:none;
	width:100%;
	height:100%;
}
	#cinderDocument > div.navbar {
		background-color:#fff;
	}
		#cinderDocument > div.navbar > ul.toolbar {
			margin:0.65em 1em 0 0;
		}

	#cinderDocument > div.sidebar {
		position:fixed;
		top:0; left:0;
		width:150px;
		height:100%;
		background-color:#000;
		padding-top:50px;
		box-sizing:border-box;
	}
		#cinderDocument > div.sidebar > ul.toolbar > li {
			display:block;
		}
			#cinderDocument > div.sidebar > ul.toolbar > li.selected > a {
				color:white;
			}

	#cinderDocument > div.container-fluid {
		margin:0 0 0 150px;
		padding-top:65px;
	}

/* hide nav */

#cinderDocument.hide-nav > div.navbar {
	display:none;
}

#cinderDocument.hide-nav > div.sidebar {
	display:none;
}

#cinderDocument.hide-nav > div.container-fluid {
	margin:0;
	padding:0;
}
