
<form id="loginForm" name="login" action="/login/authenticate" method="post" class="cinder">
	<p>{{=it.body}}</p>

	<div class="purpose-validation"></div>

	<fieldset>
		<label for="loginUsernameTextbox">Username</label>
		<input id="loginUsernameTextbox" name="username" value="" placeholder="john.doe@email.com" type="text" />

		<label for="loginPasswordTextbox">Password</label>
		<input id="loginPasswordTextbox" name="password" value="" type="password" />
	</fieldset>

	<footer>
		<button type="submit">Login</button>
	</footer>
</form>
