
@import url( '../../system/css/loaded.css' );

.purpose-dragdrop {
	border:2px dotted black;
	padding:1em;
}
	.purpose-dragdrop.drop {
		border:2px dotted red;
	}

	.purpose-dragdrop .purpose-message {
		margin:0;
	}
	.purpose-dragdrop .purpose-progress {
		display:none;
		margin:0;
	}
	.purpose-dragdrop .purpose-dragover {
		display:none;
		margin:0;
	}
